apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: voloshmiak/frontend:0.0.1
          ports:
            - containerPort: 80
          env:
            - name: VUE_APP_API_BASE_URL
              valueFrom:
                configMapKeyRef:
                  name: service-config
                  key: VUE_APP_API_BASE_URL
            - name: VUE_APP_STRIPE_PUBLISHABLE_KEY
              valueFrom:
                secretKeyRef:
                  name: service-secrets
                  key: STRIPE_PUBLISHABLE_KEY
            - name: VUE_APP_DEBUG
              valueFrom:
                configMapKeyRef:
                  name: service-config
                  key: VUE_APP_DEBUG
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 3