apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service-deployment
  namespace: services
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
    spec:
      containers:
        - name: notification-service
          image: voloshmiak/notification-service:0.0.1
          ports:
            - containerPort: 8080
          env:
            - name: KAFKA_HOST
              valueFrom:
                configMapKeyRef:
                  name: service-config
                  key: NOTIFICATION_KAFKA_HOST
            - name: KAFKA_PORT
              valueFrom:
                configMapKeyRef:
                  name: service-config
                  key: NOTIFICATION_KAFKA_PORT
            - name: SENDGRID_API_KEY
              valueFrom:
                secretKeyRef:
                  name: service-secrets
                  key: SENDGRID_API_KEY
