apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service-deployment
  namespace: services
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
        - name: user-service
          image: voloshmiak/user-service:0.0.7
          ports:
            - containerPort: 8080
          env:
            - name: DB_HOST
              valueFrom:
                configMapKeyRef:
                  name: service-config
                  key: USER_DB_HOST
            - name: DB_PORT
              valueFrom:
                configMapKeyRef:
                  name: service-config
                  key: USER_DB_PORT
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: service-secrets
                  key: POSTGRES_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: service-secrets
                  key: POSTGRES_PASSWORD
            - name: DB_NAME
              valueFrom:
                configMapKeyRef:
                  name: service-config
                  key: USER_DB_NAME
            - name: SERVER_PORT
              valueFrom:
                configMapKeyRef:
                  name: service-config
                  key: USER_SERVER_PORT
            - name: KAFKA_HOST
              valueFrom:
                configMapKeyRef:
                  name: service-config
                  key: USER_KAFKA_HOST
            - name: KAFKA_PORT
              valueFrom:
                configMapKeyRef:
                  name: service-config
                  key: USER_KAFKA_PORT