apiVersion: v1
kind: Service
metadata:
  name: elasticsearch-service
  namespace: data
  labels:
    app: elasticsearch
spec:
  ports:
    - name: http
      port: 9200
      protocol: TCP
  selector:
    app: elasticsearch