apiVersion: v1
kind: Service
metadata:
  name: api-gateway-service
  namespace: api
spec:
  type: LoadBalancer
  selector:
    app: api-gateway
  ports:
    - name: proxy
      port: 8000
      targetPort: 8000