apiVersion: v1
kind: Service
metadata:
  name: kafka-service
  namespace: data
spec:
  clusterIP: None
  ports:
    - port: 9092
      name: plaintext
    - port: 9093
      name: controller
  selector:
    app: kafka