apiVersion: v1
kind: Service
metadata:
  name: payment-service
  namespace: services
spec:
  type: ClusterIP
  selector:
    app: payment-service
  ports:
    - name: grpc
      port: 8080
      targetPort: 8080