apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: services
spec:
  type: ClusterIP
  selector:
    app: user-service
  ports:
    - name: grpc
      port: 8080
      targetPort: 8080